<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>腾飞教育-PFP，PST的日程安排</title>
    <meta name="description" content="腾飞PFP金融，PST游学的日程表">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" id="viewport">
    <link rel="shortcut icon" href="/favicon.db7d7834.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.33155541.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="__PUBLIC__/res/styles/schedule.b447417b.css">
    <script src="__PUBLIC__/res/scripts/vendor/modernizr.6857963c.js"></script>

  </head>
  <body>
  <!--引入头部-->
  <include file="Layout/header"/>

    <!--内容区-->
    <div class="content">
      <div class="container">
        <!--酒店-->
         <div class="section">
            <h3>Hotel</h3>
          </div>
         <div class="link">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <a class="link-default" href="{$link[systemsettingcontent]}"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>入住酒店</a>
              </div>
            </div>
          </div>
        <!--end-->
        <div class="row">
          <div class="col-xs-12 col-md-12">
              <div class="section">
                <h3>PFP & Schedule(Day 1-7)</h3>
              </div>
              <!--日程表-->
              <div class="schedule">
                <table class="table table-bordered">
                  <caption><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Time Distribution
                    <div class="row">
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pfp-business">
                            五百强时间
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pfp-team">
                            团队时间
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pfp-company">
                            公司时间
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pfp-free">
                            自由时间
                          </div>
                        </div>
                  </caption>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>上午</th>
                      <th>下午</th>
                      <th>晚上</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Day 1</td>
                      <td class="pfp-default">赴港</td>
                      <td class="pfp-default">赴港</td>
                      <td class="pfp-team">腾飞培训</td>
                    </tr>
                    <tr>
                      <td>Day 2</td>
                      <td class="pfp-business">五百强培训</td>
                      <td class="pfp-company">企业实习</td>
                      <td class="pfp-team">团队分工</td>
                    </tr>
                    <tr>
                      <td>Day 3</td>
                      <td class="pfp-business">五百强培训</td>
                      <td class="pfp-company">企业实习</td>
                      <td class="pfp-team">团队分工</td>
                    </tr>
                    <tr>
                      <td>Day 4</td>
                      <td class="pfp-business">五百强培训</td>
                      <td class="pfp-company">企业实习</td>
                      <td class="pfp-team">市场调查</td>
                    </tr>
                    <tr>
                      <td>Day 5</td>
                      <td class="pfp-company">投资竞赛</td>
                      <td class="pfp-company">分享会</td>
                      <td class="pfp-team">商业预演</td>
                    </tr>
                    <tr>
                      <td>Day 6</td>
                      <td class="pfp-company">商策比赛</td>
                      <td class="pfp-company">颁奖典礼</td>
                      <td class="pfp-team">团队聚会</td>
                    </tr>
                    <tr>
                      <td>Day 7</td>
                      <td class="pfp-free">自由活动</td>
                      <td class="pfp-free">自由活动</td>
                      <td class="pfp-free">离开香港</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--end-->
              <div class="row">
                <div class="col-xs-12  col-md-4">
                  <div class="link">
                   <a  class="link-pfp" href="__PUBLIC__/Download/{$pfp[downloadreleasedate]|substr=0,10}/{$pfp[downloadurl]}"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>PFP金融项目日程安排</a>
                   </div>
                </div>
              </div>
              
          </div>
          <div class="col-xs-12 col-md-12">
              <div class="section">
                <h3>PST & Schedule Day(1-15)</h3>
              </div>
              <!--日程表-->
              <div class="schedule">
                <table class="table table-bordered">
                  <caption><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Time Distribution
                    <div class="row">
                      <div class="col-xs-6 col-md-2">
                          <div class="scale-block pst-internship">
                            投行时间
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pst-teaching">
                            大学时间
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pst-company">
                            公司时间
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pst-business">
                            企业时间
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                          <div class="scale-block pst-free">
                            自由时间
                          </div>
                        </div>
                    </div>

                  </caption>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>上午</th>
                      <th>下午</th>
                      <th>晚上</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Day 1</td>
                      <td class="pst-default">赴美教程第一阶段（东岸）</td>
                      <td class="pst-business">PST培训</td>
                      <td class="pst-business">PST培训</td>
                    </tr>
                    <tr>
                      <td>Day 2</td>
                      <td class="pst-teaching">大学教授课程</td>
                      <td class="pst-teaching">大学教授课程</td>
                      <td class="pst-team">团队分工</td>
                    </tr>
                    <tr>
                      <td>Day 3</td>
                      <td class="pst-internship">投行实行</td>
                      <td class="pst-internship">投行实行</td>
                      <td class="pst-team">团队工作</td>
                    </tr>
                    <tr>
                      <td>Day 4</td>
                      <td class="pst-internship">投行实行</td>
                      <td class="pst-internship">投行实行</td>
                      <td class="pst-company">市场调查</td>
                    </tr>
                    <tr>
                      <td>Day 5</td>
                      <td class="pst-company">投资竞赛</td>
                      <td class="pst-company">走访华尔街</td>
                      <td class="pst-company">市场调查</td>
                    </tr>
                    <tr>
                      <td>Day 6</td>
                      <td class="pst-teaching">大学教授课程</td>
                      <td class="pst-teaching">大学教授课程</td>
                      <td class="pst-team">团队工作</td>
                    </tr>
                    <tr>
                      <td>Day 7</td>
                      <td class="pst-teaching">大学教授课程</td>
                      <td class="pst-teaching">大学教授课程</td>
                      <td class="pst-team">团队工作</td>
                    </tr>
                     <tr>
                      <td>Day 8</td>
                      <td class="pst-teaching">大学教授课程</td>
                      <td class="pst-free">参访联合国，自由女神</td>
                      <td class="pst-company">商业预演</td>
                    </tr>
                     <tr>
                      <td>Day 9</td>
                      <td class="pst-company">商策比赛</td>
                      <td class="pst-team">结业礼</td>
                      <td class="pst-team">团队聚会</td>
                    </tr>
                     <tr>
                      <td>Day 10</td>
                      <td class="pst-free">自由活动</td>
                      <td class="pst-default">离开美国(东岸)</td>
                      <td class="pst-default">离开美国(东岸)</td>
                    </tr>
                     <tr>
                      <td>Day 11</td>
                      <td class="pst-default">教程第二阶段（西岸）</td>
                      <td class="pst-free">自由活动</td>
                      <td class="pst-free">自由活动</td>
                    </tr>
                     <tr>
                      <td>Day 12</td>
                      <td class="pst-company">名企观摩</td>
                      <td class="pst-company">名企观摩</td>
                      <td class="pst-team">团队分工</td>
                    </tr>
                     <tr>
                      <td>Day 13</td>
                       <td class="pst-company">名企观摩</td>
                      <td class="pst-company">名企观摩</td>
                      <td class="pst-team">创业预演</td>
                    </tr>
                     <tr>
                      <td>Day 14</td>
                       <td class="pst-company">五百强培训</td>
                      <td class="pst-company">社会企业比赛</td>
                      <td class="pst-team">团队聚会</td>
                    </tr>
                     <tr>
                      <td>Day 15</td>
                      <td class="pst-free">自由活动</td>
                      <td class="pst-default">离开美国（西岸）</td>
                      <td class="pst-default">离开美国（西岸）</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--end-->
               <div class="row">
                <div class="col-xs-12  col-md-4">
                  <div class="link">
                    <a  class="link-pst" href="__PUBLIC__/Download/{$pst[downloadreleasedate]|substr=0,10}/{$pst[downloadurl]}"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>PST游学项目日程安排</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  <!--引入底部文件-->
  <include file="Layout/footer"/>
    <script src="__PUBLIC__/res/scripts/vendor.8ea373f3.js"></script>
    <script src="__PUBLIC__/res/scripts/plugins.19a1d77b.js"></script>
  </body>
</html>
