<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--header nav-->
<div class="header">
    <div class="navbar  navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  href="#"><img  class="logo" src="__PUBLIC__/res/images/logo.png" alt="pal logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{:U('Index/index')}">首页</a></li>
                    <li><a href="{:U('Project/pfp')}">PFP香港项目</a></li>
                    <li><a href="{:U('Project/pst')}">PST游学项目</a></li>
                    <li><a href="{:U('Schedule/schedule')}">日程安排</a></li>
                    <li><a href="{:U('Studyabroad/studyabroad')}">留学服务</a></li>
                    <li><a href="{:U('Guide/guide')}">申请指南</a></li>
                    <li><a class="navbar-pal-btn" href="{:U('Application/application')}">在线申请</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>