<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<!--                       CSS                       -->
<load href="__PUBLIC__/resources/css/reset.css" />
<load href="__PUBLIC__/resources/css/style.css" />
<load href="__PUBLIC__/resources/css/invalid.css" />
<!--                       Javascripts                       -->
<load href="__PUBLIC__/resources/scripts/jquery-1.3.2.min.js" />
<load href="__PUBLIC__/resources/scripts/simpla.jquery.configuration.js" />
<load href="__PUBLIC__/resources/scripts/facebox.js" />
<load href="__PUBLIC__/resources/scripts/jquery.wysiwyg.js" />
<load href="__PUBLIC__/resources/scripts/jquery.datePicker.js" />
<load href="__PUBLIC__/resources/scripts/jquery.date.js" />

<load href="__PUBLIC__/resources/css/default.css" />
<load href="__PUBLIC__/resources/css/styles.css" />
</head>
<body>
	<article class="htmleaf-container">
		<div class="demo">
			<header class="demo__header">
				<button id="btn_add" class="demo__header__a__img__right__submit"></button>
				<div class="demo__header__div">
					<h1 class="demo__header__div__h1"
						style="width: 50%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0px auto;">{$event[eventtitle]}</h1>
				</div>
			</header>
			<form action="{:U('Event/EventEditASubmit','eventid=' . $event[eventid])}"
					method="post">
				<div class="demo__content"
					style="width: 100%; position: absolute; top: 6rem; bottom: 0px; left: 0px; padding: 0.5rem;">
					<div id="body-wrapper" style="height: 100%;">
						<div id="main-content" style="height: 100%;">
							<div class="content-box"
								style="padding: 0px; height: 100%; margin: 0px;">
								<!-- Start Content Box -->
								<div class="content-box-content" style="top: 6rem; height: 99%;">
									<div class="tab-content default-tab" id="tab1"
										style="display: block; overflow-y: scroll; height: 99%;">
										{$editorHtml}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</article>
	<load href="__PUBLIC__/resources/scripts/stopExecutionOnTimeout.js?t=1" />
	<load href="__PUBLIC__/resources/scripts/jquery-2.1.1.min.js" />
	<script>
	$(document).ready(function() {
		var ua = navigator.userAgent;
		var ipad = ua.match(/(iPad).*OS\s([\d_]+)/),
		    isIphone = !ipad && ua.match(/(iPhone\sOS)\s([\d_]+)/),
		    isAndroid = ua.match(/(Android)\s+([\d.]+)/),
		    isMobile = isIphone || isAndroid;
		    if(isMobile) {
		        alert('该链接请在电脑上打开!');
		        history.go(-1);
		    }
	});
	$("#btn_add").on('click', function(e) {
		$("form").submit();
	});

	</script>
	</div>
</body>
</html>