<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>腾飞教育-PST游学项目-齐聚美国常青藤</title>
    <meta name="description" content="腾飞PST游学,齐聚美国常青藤">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" id="viewport">
    <link rel="shortcut icon" href="/favicon.db7d7834.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.33155541.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="__PUBLIC__/res/styles/project.b14f3ff8.css">
    <script src="__PUBLIC__/res/scripts/vendor/modernizr.6857963c.js"></script>

  </head>
  <body>
  <!--引入头部-->
  <include file="Layout/header"/>
    <!--内容区-->
    <div class="content">
      <div class="container">
        <div class="row">
           <div class="col-xs-12 col-md-4">
                <div class="project-heading">
                    <div class="jumbotron">
                    <div class="container">
                       <h1>PST游学项目</h1>
                      <p>
                         腾飞教育针对全国在校大学生特别开创了“腾飞美国项目”。</p>
                        <p>  在这里,你将收获真挚的友谊。一群来自全国各地有梦想、有潜力、有才华的年轻人将会聚集在一起,在逐梦的道路上并肩前行。</p>
                        <p>  在这里,你将收获宝贵的知识。参与常青藤大学的课程和实践比赛,你将领略世界级教授的风采，掌握最前沿的管理理论，深入探讨最新的商业案例。</p>
                         <p> 在这里,你将建立高端的人际关系网。在学习和交流的过程中,你将和来自不同背景的名校精英们共同进步,在相互扶持中碰撞出灵感的火花。</p>
                          <p>为了贯彻国际化的”精英教育”理念，PST将对报名学员进行谨慎筛选和严格考核,每期项目录取名额为50 ~60 位。成功加入PST的优秀学员将组成一个多元化的精英团队,成为终身互助的精英学友。学员来自中国多个地区,部份更拥有欧美学历背景。整个团队严谨的学习态度和互助的团队精神,将会成为学员之间建立深厚友谊及维持紧密的校友网络的坚固基础。
                      </p>
                    </div>
                  </div>
                </div>
           </div>
          <div class="col-xs-12 col-md-8">
            <!--项目内容-->
            <div class="section">
              <h3>Content</h3>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <!--常青藤交流-->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      常青藤交流
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                        <p>
                             “古之学者必有师”,想要缔造非凡未来，不可缺少名师指导。
                       </p>
                       <p>
                            PST项目将为学员与世界级教授约谈,学员将零距离亲睹大师风采,听名师分享成功经验。PST执教者大部分来自常青藤院校, 包括Harvard University, Yale University,Colombia University, Stanford University等国际一流大学，美丽的校园、浓厚的学术气息、优良完备的教学设施和国际化的校园氛围将会让学员充分领略西方治学之妙。
                        </p>
                  </div>
                </div>
              </div>
              <!--投行商业培训-->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      投行商业培训
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                        <p>
                             加盟PST项目美国投资银行是一家全球领先的国际性金融服务公司,其业务范围涵盖投资银行、证券、投资管理以及财富管理等。该公司在全球48个国家设有超过2,400 家办事处,为各地企业、政府机关、事业机构和个人投资者提供服务。此外，该公司是最早进入中国发展的国际投资银行之一,多年来业绩卓越。
                            </p>
                            <p>
                                参与PST的学员将会获得参与该公司企业培训的机会,为期两天。培训期间，学员需要按要求完成公司分配的工作任务,并在培训结束后向公司高层进行商务演说。成功向企业高层演说者,均可以获得由公司高层签发的项目参与证书。
                            </p>
                  </div>
                </div>
              </div>
              <!--名企背后-->
              <div class="panel panel-warning">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      名企背后
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                      <p>
                           PST的项目目标不仅限于名校学习,拓宽学员国际化视野是项目的重中之重。
                            </p>
                            <p>
                                PST还会安排学员到Facebook, Google, Uber, linkedin Uber, LinkedIn 等世界五百强企业开展实地考察。与企业员工进行直接的对话与交流,分享成功之道, 激发创新灵感,掌握创业契机,促进PST学员与国际商业精英深层次交流,尽力为学员搭建独一无二的全球化学习平台。
                            </p>
                  </div>
                </div>
              </div>
              <!--项目证书收获-->
              <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                     项目证书收获
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                     <p>
                            企业培训证书: 参与学生完成相关金融企业培训及研习报告后,将获得由企业高层签发的企业项目证书。
                            </p>
                      <p>
                            投行比赛证书: 参与者完成相关金融企业商业比赛后,可以获得企业高层签发的国际金融商业比赛证书。
                      </p>
                      <p>
                        社企比赛证书: 参与者将在常青藤大学参与社会企业创业比赛。参赛者可以获得由常青藤教授签发的国际比赛证书。
                      </p>
                      <p>
                        常青藤教授推荐信: 参与社会企业创业比赛并获得第一名的全体小组成员,均可获得由常青藤教授签发的推荐信。
                      </p>
                      <p>
                        美国项目证书: 所有完成美国项目的参与者,均可以获得美国项目实习证书Certificate of PST。
                      </p>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->
             <!--项目优势-->
            <div class="section">
              <h3>Advantage</h3>
            </div>
            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                <foreach name="list" item="item">
                  <div class="panel {$item[color]}">
                    <div class="panel-heading" role="tab" id="{$item[id]}">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion1" href="{$item[href]}" aria-expanded="true" aria-controls="{$item[collapse]}">
                          {$item[breakingnewsname]}
                        </a>
                      </h4>
                    </div>
                      <if condition="$item[id] eq 0 ">
                          <div id="{$item[collapse]}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{$item[id]}">
                              <div class="panel-body">{$item[breakingnewsmaincontent]}</div>
                          </div>
                              <else/>
                          <div id="{$item[collapse]}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{$item[id]}">
                              <div class="panel-body">{$item[breakingnewsmaincontent]}</div>
                          </div>
                      </if>
                  </div>
                </foreach>
            </div>
            <!--end-->
          </div>
        </div>
      </div>
    </div>
  <!--引入底部文件-->
  <include file="Layout/footer"/>
    <script src="__PUBLIC__/res/scripts/vendor.8ea373f3.js"></script>
    <script src="__PUBLIC__/res/scripts/plugins.19a1d77b.js"></script>
  </body>
</html>
