<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$APPLICATION_NAME}系统后台</title>
<!--                       CSS                       -->
<!-- Reset Stylesheet -->
<load href="__PUBLIC__/resources/css/reset.css" />
<!-- Main Stylesheet -->
<load href="__PUBLIC__/resources/css/style.css" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<load href="__PUBLIC__/resources/css/invalid.css" />
<!--                       Javascripts                       -->
<!-- jQuery -->
<load href="__PUBLIC__/resources/scripts/jquery-1.3.2.min.js" />
<!-- jQuery Configuration -->
<load href="__PUBLIC__/resources/scripts/simpla.jquery.configuration.js" />
<!-- Facebox jQuery Plugin -->
<load href="__PUBLIC__/resources/scripts/facebox.js" />
<!-- jQuery WYSIWYG Plugin -->
<load href="__PUBLIC__/resources/scripts/jquery.wysiwyg.js" />
<!-- jQuery Datepicker Plugin -->
<load href="__PUBLIC__/resources/scripts/jquery.datePicker.js" />
<load href="__PUBLIC__/resources/scripts/jquery.date.js" />
</head>
<body>
	<div id="body-wrapper">
		<!-- Wrapper for the radial gradient background -->
		<div id="sidebar">
			<include file='./Application/Admin/View/Menu/slidebar.html' />
		</div>
		<div id="main-content">
			<div class="content-box">
				<!-- Start Content Box -->
				<div class="content-box-header">
					<h3>通知公告</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">列表</a></li>
						<!-- href must be unique and match the id of target div -->
						<li><a href="#tab2">添加</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<!-- End .content-box-header -->
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1">

						<table>
							<thead>
								<tr>
									<th><input class="check-all" type="checkbox" /></th>
									<th>标题</th>
									<th>发布人</th>
									<th>发布时间</th>
									<th>审核人</th>
									<th>审核状态</th>
									<th>审核时间</th>
									<th>浏览量</th>
									<th>操作</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="10">
										<div class="bulk-actions align-left">
											<a class="button" onclick="deleteMulti()">删除选中</a>
										</div>
										<div class="pagination">{$page}</div> <!-- End .pagination -->
										<div class="clear"></div>
									</td>
								</tr>
							</tfoot>
							<tbody>
								<foreach name="list" item="item">
								<tr>
									<td><input type="checkbox" name='checkboxscut'
										id='{$item[noticeid]}' /></td>
									<td>{$item[noticetitle]}</td>
									<td>{$item[noticereleaseid]}</td>
									<td>{$item[noticereleasedate]}</td>
									<td>{$item[noticeauditid]}</td>
									<td>{$item[noticeauditstatus]}</td>
									<td>{$item[noticeauditdate]}</td>
									<td>{$item[noticepageview]}</td>
									<td><a
										href="{:U('Notice/editNotice','noticeid=' . $item[noticeid])}"
										title="Edit" target="_blank"><img
											src="__PUBLIC__/resources/images/icons/pencil.png" alt="编辑" /></a>
										<a
										href="{:U('Notice/allNotice','delete=' . $item[noticeid])}"
										title="Delete"><img
											src="__PUBLIC__/resources/images/icons/cross.png"
											onclick="javascript:return confirm('确定要删除吗?');" alt="删除" /></a></td>
								</tr>
								</foreach>

							</tbody>
						</table>
					</div>
					<!-- End #tab1 -->
					<div class="tab-content" id="tab2">
						<form action="{:U('Notice/addNotice')}"
							method="post">
							<fieldset>
								<!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
								<p>
									<label>通知公告标题</label> <input
										class="text-input medium-input datepicker" type="text"
										id="medium-input" name="noticeTitle" /> <br />
								</p>
								<p>
									<label>通知公告内容</label>
									<div style='height: 600px'>{$editorHtml}</div>
								</p>
								<p>
									<input class="button" type="submit" value="确定" />
								</p>
							</fieldset>
							<div class="clear"></div>
							<!-- End .clear -->
						</form>
					</div>
					<!-- End #tab2 -->
				</div>
				<!-- End .content-box-content -->
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	function deleteMulti() {
		if (confirm('确定要删除吗?')) {
			var id = document.getElementsByName('checkboxscut');
			var value = new Array();
			for (var i = 0; i < id.length; i++) {
				if (id[i].checked)
					value.push(id[i].id);
			}
			//alert(value.toString());
			window.location = "{:U('Notice/allNotice','deleteMulti=-1')}"
					+ "," + value.toString();
		}
	}
</script>
