<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>腾飞教育-留学服务-首创平价游学</title>
    <meta name="description" content="腾飞教育平价留学服务">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" id="viewport">
    <link rel="shortcut icon" href="/favicon.db7d7834.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.33155541.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="__PUBLIC__/res/styles/studyabroad.4e138a0f.css">
    <script src="__PUBLIC__/res/scripts/vendor/modernizr.6857963c.js"></script>
  </head>
  <body>
  <!--引入头部-->
  <include file="Layout/header"/>
    <!--内容区-->
    <div class="content">
      <div class="container">
          <!--图区，广告-->
          <div class="pic">
            <img class="bg" src="__PUBLIC__/res/images/wall.png" alt="腾飞教育">
            <!--文字广告区,>1200可见-->
            <img class="slogan animated " src="__PUBLIC__/res/images/wall_text.png" alt="广告语">
          </div>
          <!--腾飞留学介绍-->
          <div class="section">
              <h3>Why PAL Services</h3>
            </div>
            <div class="intro">
              <h3>成绩有目共睹</h3>
              <p>
                100%的成功率，根据往届数据统计，通过腾飞申请留学的学生全部进入海外知名的寄宿学校或大学，大部份能入读心仪的学校，更在所选择的专业领域中，崭露头角。
              </p>
            </div>
            <div class="intro">
              <h3>量身定做个性化的简历</h3>
               <p>
                腾飞会指导每一名学生创造具有竞争优势的个人经历，我们不仅仅关注学业成绩，更会协助学生在课外活动、工作实习、人生经历、社会服务及领导才能等方面塑造个人魅力，并将所有经历展示在个人陈述中，让学生的申请书在千万疯文书中脱颖而出。每一名学生均有两名导师跟进辅导，腾飞导师团体皆是毕业于海外顶尖大学，他们将运用自己成功申请的经验及独特的眼光，发掘学生最突出且最吸引教授的地方。
              </p>
            </div>
             <div class="intro">
              <h3>教授级顾问团队</h3>
               <p>
              腾飞顾问团队实力雄厚，高效能干。顾问老师由国内外两支队伍组成，国内顾问老师皆有海外名校留学背景，包括哈佛大学、剑桥大学、帝国理工学院、伦敦大学学院、墨尔本大学、澳洲国立大学和麻省理工学院等名校毕业生；国外顾问老师皆是名校教授
              </p>
              <p>
                每一年，都有很多学生因为文书写作不佳，与心仪大学失之交臂。中国式的英语、千篇一律的写作模板、重复使用的文书范文、缺乏个性的自我陈述……以上任何一点都是留学申请的致命伤！Offer从此跟你说bye bye。
              </p>
              <p>
                每一年，都有很多学生在留学之路上担忧不安，写文书拖沓、递申请太晚、改文书太慢……许多学生都有过苦苦催促顾问老师的经历。作为留学服务的新标杆，腾飞的优质顾问团队会为每位学生打造独一无二的文书，并保证申请过程公开透明，让学生可以第一时间了解进度。全方位的留学指导，让学生舒心地度过留学申请之旅。
              </p>
             </div>
             <div class="intro">
                <h3>全面顾问服务</h3>
                <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <ul>
                      <li><p>深入的个人能力评估</p></li>
                      <li><p>严谨的学校及课程筛选</p></li>
                      <li><p>周详的个人成长路线图</p></li>
                      <li><p>持续的学业进步卓越计划</p></li>  
                      <li><p>精准的事业路向分析</p></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <ul>
                      <li><p>专业的申请表评估及指导</p></li>
                      <li><p>个人的论文撰写辅导</p></li>
                      <li><p>必备的报考推荐信策略</p></li>
                      <li><p>精心的面试准备</p></li>
                    </ul>
                  </div>
                   <div class="col-xs-12 col-md-4">
                    <ul>
                       <li><p>全面的校园参观</p></li>
                      <li><p>专业的入读学校挑选辅导</p></li>
                      <li><p>长期的报名跟进及支持候补申请</p></li>
                      <li><p>贴心的家长工作坊及辅导工作</p></li>
                    </ul>
                  </div>
                </div>
             </div> 
            <!--end-->
          <!--留学成功案例-->
          <div class="section">
            <h3>Our Counselling Cases</h3>
          </div>
          <foreach name="cases" item="item">
          <article>
              <div class="post-head">
                <h1 class="post-title">{$item[breakingnewsname]}</h1>
                <div class="post-meta">
                   <span class="author">作者：<b>{$item[breakingnewsrelease]}</b></span>
                   <time class="post-date">&nbsp;&nbsp;{$item[breakingnewsreleasedate]}</time>
                </div>
              </div>
              <div class="post-abstract">
                  <p>{$item[breakingnewsmaincontent]}</p>
              </div>
              <div class="post-footer">
                  <a href="{:U('News/cases','breakingnewsid=' . $item[breakingnewsid])}" class="btn btn-default">阅读全文</a>
              </div>
              <div class="post-category">
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                  <span class="tag">&nbsp;&nbsp;留学成功案例</span>
              </div>
          </article>
         </foreach>
          <!--end-->
          <div class="section">
              <h3>Click to Appliaction</h3>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="link">
                    <a class="link-default link-sm" href="{:U('Application/application')}"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 在线填写留学意愿</a>
                  </div>
              </div>
            </div>
          <!--留学-->
          <div class="section">
            <h3>Studying Abroad Workshop</h3>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="list-group">
                    <foreach name="exam1" item="item">
                  <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>【{$item[breakingnewsmaincontent]}】{$item[breakingnewsname]}</a>
                </foreach>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="list-group">
                  <foreach name="exam2" item="item">
                      <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>【{$item[breakingnewsmaincontent]}】{$item[breakingnewsname]}</a>
                  </foreach>
              </div>
            </div>
          </div>
        <!--世界排名-->
          <div class="section">
            <h3>World University Ranking</h3>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="list-group">
                  <foreach name="rank1" item="item">
                      <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$item[breakingnewsname]}</a>
                  </foreach>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="list-group">
                  <foreach name="rank2" item="item">
                      <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item "><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$item[breakingnewsname]}</a>
                  </foreach>
              </div>
            </div>
          </div>

            <div class="section">
              <h3>University Counselling Services</h3>
            </div>
            <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="list-group">
                <h4 class="list-group-item active">美国</h4>
                    <foreach name="American" item="item">
                        <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item "><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$item[breakingnewsname]}</a>
                    </foreach>
               </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="list-group">
                <h4 class="list-group-item active">加拿大</h4>
                  <foreach name="Canada" item="item">
                      <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item "><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$item[breakingnewsname]}</a>
                  </foreach>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="list-group">
                <h4 class="list-group-item active">澳大利亚</h4>
                  <foreach name="Australia" item="item">
                      <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item "><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$item[breakingnewsname]}</a>
                  </foreach>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="list-group">
                <h4 class="list-group-item active">英国</h4>
                  <foreach name="England" item="item">
                      <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item "><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$item[breakingnewsname]}</a>
                  </foreach>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="list-group">
                <h4 class="list-group-item active">香港</h4>
                  <foreach name="Hongkong" item="item">
                      <a href="{:U('News/information','breakingnewsid=' . $item[breakingnewsid])}" class="list-group-item "><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$item[breakingnewsname]}</a>
                  </foreach>
              </div>
            </div>
            </div>
        </div>
    </div>
    <!--引入底部文件-->
    <include file="Layout/footer"/>
    <script src="__PUBLIC__/res/scripts/vendor.8ea373f3.js"></script>
    <script src="__PUBLIC__/res/scripts/plugins.19a1d77b.js"></script>
    <script src="__PUBLIC__/res/scripts/ad.e907f9bf.js"></script>
  </body>
</html>
